.page {
  display: flex;
  margin: -3% 0 0 -14%;
  @media (max-width: 700px) {
    flex-direction: column;
    justify-content: start;
  }
  @media (min-width: 992px) {
    .page.login {
        max-width: 100%;
    }
  }
}
